/******************************************************************************/
/* generic                                                                    */
/******************************************************************************/

.comp-grid.show { display: block; }
.comp-grid.invisible { visibility: hidden; }
.comp-grid.hide { display: none; }

.comp-grid.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.comp-grid.pull-right { float: right !important; }
.comp-grid.pull-left { float: left !important;}

.comp-container:before,
.comp-container:after,
.comp-row:before,
.comp-row:after {
  content: " ";
  display: table;
}
.comp-container:after,
.comp-row:after {
  clear: both;
}

/******************************************************************************/
/* comp-container                                                             */
/******************************************************************************/

.comp-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .comp-container { width: 750px; }
}
@media (min-width: 992px) {
  .comp-container { width: 970px; }
}
@media (min-width: 1200px) {
  .comp-container { width: 1170px; }
}

/******************************************************************************/
/* comp-row                                                                   */
/******************************************************************************/

.comp-row {
  margin-top: 2rem;
}

/******************************************************************************/
/* comp-column                                                                */
/******************************************************************************/

.comp-column {
  position: relative;
  min-height: .1rem;
  padding: 2rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

/***********************/
/* Extra small devices */
/***********************/

.comp-column-xs-12, .comp-column-xs-11, .comp-column-xs-10,
.comp-column-xs-9, .comp-column-xs-8, .comp-column-xs-7,
.comp-column-xs-6, .comp-column-xs-5, .comp-column-xs-4,
.comp-column-xs-3, .comp-column-xs-2, .comp-column-xs-1 {
  float: left;
}

.comp-column-xs-12 { width: 100%; }
.comp-column-xs-11 { width: 91.66666667%; }
.comp-column-xs-10 { width: 83.33333333%; }
.comp-column-xs-9 { width: 75%; }
.comp-column-xs-8 { width: 66.66666667%; }
.comp-column-xs-7 { width: 58.33333333%; }
.comp-column-xs-6 { width: 50%; }
.comp-column-xs-5 { width: 41.66666667%; }
.comp-column-xs-4 { width: 33.33333333%; }
.comp-column-xs-3 { width: 25%; }
.comp-column-xs-2 { width: 16.66666667%; }
.comp-column-xs-1 { width: 8.33333333%; }

.comp-column-xs-pull-12 { right: 100%; }
.comp-column-xs-pull-11 { right: 91.66666667%; }
.comp-column-xs-pull-10 { right: 83.33333333%; }
.comp-column-xs-pull-9 { right: 75%; }
.comp-column-xs-pull-8 { right: 66.66666667%; }
.comp-column-xs-pull-7 { right: 58.33333333%; }
.comp-column-xs-pull-6 { right: 50%; }
.comp-column-xs-pull-5 { right: 41.66666667%; }
.comp-column-xs-pull-4 { right: 33.33333333%; }
.comp-column-xs-pull-3 { right: 25%; }
.comp-column-xs-pull-2 { right: 16.66666667%; }
.comp-column-xs-pull-1 { right: 8.33333333%; }
.comp-column-xs-pull-0 { right: auto; }

.comp-column-xs-push-12 { left: 100%; }
.comp-column-xs-push-11 { left: 91.66666667%; }
.comp-column-xs-push-10 { left: 83.33333333%; }
.comp-column-xs-push-9 { left: 75%; }
.comp-column-xs-push-8 { left: 66.66666667%; }
.comp-column-xs-push-7 { left: 58.33333333%; }
.comp-column-xs-push-6 { left: 50%; }
.comp-column-xs-push-5 { left: 41.66666667%; }
.comp-column-xs-push-4 { left: 33.33333333%; }
.comp-column-xs-push-3 { left: 25%; }
.comp-column-xs-push-2 { left: 16.66666667%; }
.comp-column-xs-push-1 { left: 8.33333333%; }
.comp-column-xs-push-0 { left: auto; }

.comp-column-xs-offset-12 { margin-left: 100%; }
.comp-column-xs-offset-11 { margin-left: 91.66666667%; }
.comp-column-xs-offset-10 { margin-left: 83.33333333%; }
.comp-column-xs-offset-9 { margin-left: 75%; }
.comp-column-xs-offset-8 { margin-left: 66.66666667%; }
.comp-column-xs-offset-7 { margin-left: 58.33333333%; }
.comp-column-xs-offset-6 { margin-left: 50%; }
.comp-column-xs-offset-5 { margin-left: 41.66666667%; }
.comp-column-xs-offset-4 { margin-left: 33.33333333%; }
.comp-column-xs-offset-3 { margin-left: 25%; }
.comp-column-xs-offset-2 { margin-left: 16.66666667%; }
.comp-column-xs-offset-1 { margin-left: 8.33333333%; }
.comp-column-xs-offset-0 { margin-left: 0%; }

.comp-column-xs-show { display: block; }
.comp-column-xs-invisible { visibility: hidden; }
.comp-column-xs-hide { display: none; }

/*****************/
/* Small devices */
/*****************/

@media (min-width: 768px) {

  .comp-column-sm-12, .comp-column-sm-11, .comp-column-sm-10,
  .comp-column-sm-9, .comp-column-sm-8, .comp-column-sm-7,
  .comp-column-sm-6, .comp-column-sm-5, .comp-column-sm-4,
  .comp-column-sm-3, .comp-column-sm-2, .comp-column-sm-1 {
    float: left;
  }

  .comp-column-sm-12 { width: 100%; }
  .comp-column-sm-11 { width: 91.66666667%; }
  .comp-column-sm-10 { width: 83.33333333%; }
  .comp-column-sm-9 { width: 75%; }
  .comp-column-sm-8 { width: 66.66666667%; }
  .comp-column-sm-7 { width: 58.33333333%; }
  .comp-column-sm-6 { width: 50%; }
  .comp-column-sm-5 { width: 41.66666667%; }
  .comp-column-sm-4 { width: 33.33333333%; }
  .comp-column-sm-3 { width: 25%; }
  .comp-column-sm-2 { width: 16.66666667%; }
  .comp-column-sm-1 { width: 8.33333333%; }

  .comp-column-sm-pull-12 { right: 100%; }
  .comp-column-sm-pull-11 { right: 91.66666667%; }
  .comp-column-sm-pull-10 { right: 83.33333333%; }
  .comp-column-sm-pull-9 { right: 75%; }
  .comp-column-sm-pull-8 { right: 66.66666667%; }
  .comp-column-sm-pull-7 { right: 58.33333333%; }
  .comp-column-sm-pull-6 { right: 50%; }
  .comp-column-sm-pull-5 { right: 41.66666667%; }
  .comp-column-sm-pull-4 { right: 33.33333333%; }
  .comp-column-sm-pull-3 { right: 25%; }
  .comp-column-sm-pull-2 { right: 16.66666667%; }
  .comp-column-sm-pull-1 { right: 8.33333333%; }
  .comp-column-sm-pull-0 { right: auto; }

  .comp-column-sm-push-12 { left: 100%; }
  .comp-column-sm-push-11 { left: 91.66666667%; }
  .comp-column-sm-push-10 { left: 83.33333333%; }
  .comp-column-sm-push-9 { left: 75%; }
  .comp-column-sm-push-8 { left: 66.66666667%; }
  .comp-column-sm-push-7 { left: 58.33333333%; }
  .comp-column-sm-push-6 { left: 50%; }
  .comp-column-sm-push-5 { left: 41.66666667%; }
  .comp-column-sm-push-4 { left: 33.33333333%; }
  .comp-column-sm-push-3 { left: 25%; }
  .comp-column-sm-push-2 { left: 16.66666667%; }
  .comp-column-sm-push-1 { left: 8.33333333%; }
  .comp-column-sm-push-0 { left: auto; }

  .comp-column-sm-offset-12 { margin-left: 100%; }
  .comp-column-sm-offset-11 { margin-left: 91.66666667%; }
  .comp-column-sm-offset-10 { margin-left: 83.33333333%; }
  .comp-column-sm-offset-9 { margin-left: 75%; }
  .comp-column-sm-offset-8 { margin-left: 66.66666667%; }
  .comp-column-sm-offset-7 { margin-left: 58.33333333%; }
  .comp-column-sm-offset-6 { margin-left: 50%; }
  .comp-column-sm-offset-5 { margin-left: 41.66666667%; }
  .comp-column-sm-offset-4 { margin-left: 33.33333333%; }
  .comp-column-sm-offset-3 { margin-left: 25%; }
  .comp-column-sm-offset-2 { margin-left: 16.66666667%; }
  .comp-column-sm-offset-1 { margin-left: 8.33333333%; }
  .comp-column-sm-offset-0 { margin-left: 0%; }

  .comp-column-sm-show { display: block; }
  .comp-column-sm-invisible { visibility: hidden; }
  .comp-column-sm-hide { display: none; }

}
/******************/
/* Medium devices */
/******************/

@media (min-width: 992px) {

  .comp-column-md-12, .comp-column-md-11, .comp-column-md-10,
  .comp-column-md-9, .comp-column-md-8, .comp-column-md-7,
  .comp-column-md-6, .comp-column-md-5, .comp-column-md-4,
  .comp-column-md-3, .comp-column-md-2, .comp-column-md-1 {
    float: left;
  }

  .comp-column-md-12 { width: 100%; }
  .comp-column-md-11 { width: 91.66666667%; }
  .comp-column-md-10 { width: 83.33333333%; }
  .comp-column-md-9 { width: 75%; }
  .comp-column-md-8 { width: 66.66666667%; }
  .comp-column-md-7 { width: 58.33333333%; }
  .comp-column-md-6 { width: 50%; }
  .comp-column-md-5 { width: 41.66666667%; }
  .comp-column-md-4 { width: 33.33333333%; }
  .comp-column-md-3 { width: 25%; }
  .comp-column-md-2 { width: 16.66666667%; }
  .comp-column-md-1 { width: 8.33333333%; }

  .comp-column-md-pull-12 { right: 100%; }
  .comp-column-md-pull-11 { right: 91.66666667%; }
  .comp-column-md-pull-10 { right: 83.33333333%; }
  .comp-column-md-pull-9 { right: 75%; }
  .comp-column-md-pull-8 { right: 66.66666667%; }
  .comp-column-md-pull-7 { right: 58.33333333%; }
  .comp-column-md-pull-6 { right: 50%; }
  .comp-column-md-pull-5 { right: 41.66666667%; }
  .comp-column-md-pull-4 { right: 33.33333333%; }
  .comp-column-md-pull-3 { right: 25%; }
  .comp-column-md-pull-2 { right: 16.66666667%; }
  .comp-column-md-pull-1 { right: 8.33333333%; }
  .comp-column-md-pull-0 { right: auto; }

  .comp-column-md-push-12 { left: 100%; }
  .comp-column-md-push-11 { left: 91.66666667%; }
  .comp-column-md-push-10 { left: 83.33333333%; }
  .comp-column-md-push-9 { left: 75%; }
  .comp-column-md-push-8 { left: 66.66666667%; }
  .comp-column-md-push-7 { left: 58.33333333%; }
  .comp-column-md-push-6 { left: 50%; }
  .comp-column-md-push-5 { left: 41.66666667%; }
  .comp-column-md-push-4 { left: 33.33333333%; }
  .comp-column-md-push-3 { left: 25%; }
  .comp-column-md-push-2 { left: 16.66666667%; }
  .comp-column-md-push-1 { left: 8.33333333%; }
  .comp-column-md-push-0 { left: auto; }

  .comp-column-md-offset-12 { margin-left: 100%; }
  .comp-column-md-offset-11 { margin-left: 91.66666667%; }
  .comp-column-md-offset-10 { margin-left: 83.33333333%; }
  .comp-column-md-offset-9 { margin-left: 75%; }
  .comp-column-md-offset-8 { margin-left: 66.66666667%; }
  .comp-column-md-offset-7 { margin-left: 58.33333333%; }
  .comp-column-md-offset-6 { margin-left: 50%; }
  .comp-column-md-offset-5 { margin-left: 41.66666667%; }
  .comp-column-md-offset-4 { margin-left: 33.33333333%; }
  .comp-column-md-offset-3 { margin-left: 25%; }
  .comp-column-md-offset-2 { margin-left: 16.66666667%; }
  .comp-column-md-offset-1 { margin-left: 8.33333333%; }
  .comp-column-md-offset-0 { margin-left: 0%; }

  .comp-column-md-show { display: block; }
  .comp-column-md-invisible { visibility: hidden; }
  .comp-column-md-hide { display: none; }

}

/*****************/
/* Large devices */
/*****************/

@media (min-width: 1200px) {

  .comp-column-lg-12, .comp-column-lg-11, .comp-column-lg-10,
  .comp-column-lg-9, .comp-column-lg-8, .comp-column-lg-7,
  .comp-column-lg-6, .comp-column-lg-5, .comp-column-lg-4,
  .comp-column-lg-3, .comp-column-lg-2, .comp-column-lg-1 {
    float: left;
  }

  .comp-column-lg-12 { width: 100%; }
  .comp-column-lg-11 { width: 91.66666667%; }
  .comp-column-lg-10 { width: 83.33333333%; }
  .comp-column-lg-9 { width: 75%; }
  .comp-column-lg-8 { width: 66.66666667%; }
  .comp-column-lg-7 { width: 58.33333333%; }
  .comp-column-lg-6 { width: 50%; }
  .comp-column-lg-5 { width: 41.66666667%; }
  .comp-column-lg-4 { width: 33.33333333%; }
  .comp-column-lg-3 { width: 25%; }
  .comp-column-lg-2 { width: 16.66666667%; }
  .comp-column-lg-1 { width: 8.33333333%; }

  .comp-column-lg-pull-12 { right: 100%; }
  .comp-column-lg-pull-11 { right: 91.66666667%; }
  .comp-column-lg-pull-10 { right: 83.33333333%; }
  .comp-column-lg-pull-9 { right: 75%; }
  .comp-column-lg-pull-8 { right: 66.66666667%; }
  .comp-column-lg-pull-7 { right: 58.33333333%; }
  .comp-column-lg-pull-6 { right: 50%; }
  .comp-column-lg-pull-5 { right: 41.66666667%; }
  .comp-column-lg-pull-4 { right: 33.33333333%; }
  .comp-column-lg-pull-3 { right: 25%; }
  .comp-column-lg-pull-2 { right: 16.66666667%; }
  .comp-column-lg-pull-1 { right: 8.33333333%; }
  .comp-column-lg-pull-0 { right: auto; }

  .comp-column-lg-push-12 { left: 100%; }
  .comp-column-lg-push-11 { left: 91.66666667%; }
  .comp-column-lg-push-10 { left: 83.33333333%; }
  .comp-column-lg-push-9 { left: 75%; }
  .comp-column-lg-push-8 { left: 66.66666667%; }
  .comp-column-lg-push-7 { left: 58.33333333%; }
  .comp-column-lg-push-6 { left: 50%; }
  .comp-column-lg-push-5 { left: 41.66666667%; }
  .comp-column-lg-push-4 { left: 33.33333333%; }
  .comp-column-lg-push-3 { left: 25%; }
  .comp-column-lg-push-2 { left: 16.66666667%; }
  .comp-column-lg-push-1 { left: 8.33333333%; }
  .comp-column-lg-push-0 { left: auto; }

  .comp-column-lg-offset-12 { margin-left: 100%; }
  .comp-column-lg-offset-11 { margin-left: 91.66666667%; }
  .comp-column-lg-offset-10 { margin-left: 83.33333333%; }
  .comp-column-lg-offset-9 { margin-left: 75%; }
  .comp-column-lg-offset-8 { margin-left: 66.66666667%; }
  .comp-column-lg-offset-7 { margin-left: 58.33333333%; }
  .comp-column-lg-offset-6 { margin-left: 50%; }
  .comp-column-lg-offset-5 { margin-left: 41.66666667%; }
  .comp-column-lg-offset-4 { margin-left: 33.33333333%; }
  .comp-column-lg-offset-3 { margin-left: 25%; }
  .comp-column-lg-offset-2 { margin-left: 16.66666667%; }
  .comp-column-lg-offset-1 { margin-left: 8.33333333%; }
  .comp-column-lg-offset-0 { margin-left: 0%; }

  .comp-column-lg-show { display: block; }
  .comp-column-lg-invisible { visibility: hidden; }
  .comp-column-lg-hide { display: none; }

}
